snippet yaml "yaml header"
---
title: "$1"
author: "${2:Utku B. Demir}"
date: "${3:`date +%F`}"
output: ${4:pdf_document}
---

$0
endsnippet

snippet r "R code block"
\`\`\`{r}
${1:${VISUAL}}

\`\`\`

$0
endsnippet
	

	
