snippet HTML "HTML-vue template"
<!doctype html>

<html>
<head>
  <meta charset="utf-8">
  <script src="vue.js"></script>
</head>

<body>
<div id="$1">
$0
</div>
</body>

<script charset="utf-8">
    new Vue({
        el: "#$1",
        
});
</script>
</html>
endsnippet
